body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: black;
  }

p {font-size: 16px;}
.margin {margin-bottom: 15px;}

.container-fluid {
  padding: 30px;
  padding-bottom: 70px;
}
.header {
  overflow: hidden;
  background-color: #F6ECFF;
  padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 30px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #DCBDF7;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: #D561E8;
  color: black;
}

/* Float the link section to the right */
.header-right {
  float: right;
}